
<h1>HOME LOGUEADO</h1>


<p>- Deben aparecer primero las películas de los géneros que tiene en su lista de géneros favoritos.</p>
<p>- Debe aparecer una estrella en cada una de las películas indicando si es favorita o no del usuario , pudiendo pulsarla para añadirla o eliminarla de su lista de favoritos.</p>
<p>- Si el usuario es ADMIN.</p>
<p>- Aparecerá un símbolo de papelera para eliminar la película de la base de datos.</p>
<p>- Debe aparecer una ventana emergente que sirva para confirmar la eliminación.</p>
<p>- Aparecerá un símbolo para editar la película.</p>
<p>- Esta opción deberá redirigir al Detalle de la película y para poder cambiar sus datos y guardar los cambios.</p>
<p>- Aparecerá un botón en una parte visible para crear una nueva película.</p>
<p>- Esta opción deberá redirigir a la pantalla de Creación de película.</p>
<p>- Al pinchar sobre cualquiera de las películas de la lista se navegará al detalle de la película.</p>
